body {background-color: transparent;}

#feedback {
	background: white;
	padding: 50px;
	border: 1px solid #ccc;
}

textarea {
	width: 300px;
}

h4 {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

#submit_btn {
	margin-top: 15px;
}
